<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sample.name %>
</p>

<p>
  <b>Title:</b>
  <%= @sample.title %>
</p>

<p>
  <b>Content:</b>
  <%= @sample.content %>
</p>


<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
